.container{
    width: 80%;
    margin: auto;
}
.page_title{
    font-weight: 800;
    margin-top: 3rem;
}
.sub_title{
    font-weight: 800;
    line-height: 1.5;
    color: #39393b;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.date_info{
    margin: 1rem 0;
    font-size: 16px;
    opacity: 50%;
}
.description{
    background-color: #FFF6D7;
    padding: 1.5rem;
    border-radius: 10px;
    margin: 2rem 0;
}