.formContainer {
  max-width: 733px;
  width: 100%;
  height: calc(80% - 2rem); /* Corregir la coma que estaba causando un error */
  max-height: 781px; /* Ajustar maxHeight para que sea una propiedad separada */
  margin: 0 auto;
  margin-top: 24px;
  border-radius: 10px;
  border: 0.4px solid hsl(0, 0%, 0%);
  position: relative;
}

/* Estilos de los tabs */
.nav-tabs {
  display: grid;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  min-height: 58px;
  align-items: center;
  justify-content: center;
}

.navitem,
.nav-tabs .nav-link {
  display: flex;
  width: 100%;
  height: 58px;
  align-items: center;
  justify-content: center;
  border-radius: 0px;
  border-right: 0.4px solid;
  border-bottom: 0.4px solid;
}

.nav-tabs .nav-link.active {
  font-weight: bold;
  background: var(--grey, #f2f4f5);
  border-right: 0.4px solid #000;
  border-bottom: 2px solid var(--primary-dark);
}

.nav-tabs .nav-link:hover {
  border-bottom: 0.4px solid #000;
  border-right: 0.4px solid #000;
}

.nav-tabs > li:nth-child(4) .nav-link {
  border-right: none;
  border-top-right-radius: 10px;
}

.nav-tabs > li:nth-child(1) .nav-link {
  border-top-left-radius: 10px;
}

@media only screen and (max-width: 1200px) {
  .nav-tabs {
    margin-left: -20px;
    margin-right: -20px;
    width: calc(100% + 40px);
  }
}

/* Aquí continúan los estilos restantes */
.inputTitulo {
  max-width: 676px;
  width: 100%;
  height: 48px;
  border-radius: 5px;
  border: 0.4px solid #000;
  background: var(--grey, #f2f4f5);
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 20px;
}
.inputTexto {
  max-width: 676px;
  width: 100%;
  height: 201px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 0.4px solid #000;
  background: var(--grey, #f2f4f5);
  margin: 0 auto;
}
.span {
  display: flex;
  gap: 15px;
  align-items: center;
}
.btn_submit_cancel {
  position: absolute;
  display: flex;
  bottom: 18px;
  right: 29px;
  gap: 25px;
}
.selectEvent {
  margin: 44px 48px;
}
.uploadImage {
  margin: 50px;
}
.customFileInput {
  background-image: url("/src/assets/upload-icon.svg");
  height: 50px;
  background-repeat: no-repeat;
  cursor: pointer;
  display: flex;
  justify-content: center;
  background-position: center;
}
.customFileInput span {
  padding-top: 50px;
}
.previewImage {
  width: 40%;
  position: absolute;
  top: 200px;
}

.suggestionsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.suggestion {
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: calc(33.33% - 20px); /* 33.33% with 20px gap */
  max-width: 300px;
}

.suggestion h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333333;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .suggestion {
    width: calc(50% - 20px); /* 50% with 20px gap */
  }
}

@media (max-width: 576px) {
  .suggestion {
    width: 100%; /* 100% width */
  }
}


@media only screen and (max-width: 450px) {
  .span {
    font-size: 14px;
    gap: 5px;
  }
  .formContainer > svg {
    width: 18px;
  }
}
@media only screen and (max-width: 1200px) {
  .formContainer {
    padding: 0px 20px;
  }
}
