.productsContainer {
  margin: 3.375rem 0 0 2rem;
}
.title {
  font-weight: 700;
  font-size: var(--fz-25);
  margin-bottom: 0.875rem;
}
.swiperSlide {
  margin-left: 2rem;
  width: fit-content !important;
  margin-right: 0 !important;
}
@media (max-width: 768px) {
  .eventImage {
    width: 100%;
    border-radius: 10px;
  }
}
