.categoryContainer{
    margin-left: 2rem;
    margin-top: 1.875rem;
}

.title{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1rem;
}
.searchIcon{
    width: 25px;
    height: 25px;
}
.searchInput{
    font-weight: 700;
    font-size: var(--fz-25);
    margin-bottom: 0.875rem;
    border: none;
    margin-bottom: 0 !important;
}
.searchInput::placeholder{
    color: #0B1215;
}
.searchInput:focus{
    outline: none;
}

.searchInput:focus::placeholder {
    color: lightgray; /* Or any lighter color you prefer */
}
.nomatch_msg{
    margin: 2rem;
}
.categoryImage{
    width: 103%;
    border-radius: 10px;
    width: 103%;
    border-radius: 10px;
    /*object-fit: cover;*/
    max-height: 150px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
h3{
    font-size: 20px;
    padding-top: 0.875rem;
}
@media (max-width: 768px) {
    .categoryImage{
        width: 100%;
        border-radius: 10px;
    }
}
@media (max-width: 1024px) {
    .categoryImage{
        max-height: 120px;
    }
}