
.eventsContainer{
    margin-left: 2rem;
    margin-top: 1.875rem;
}
.title{
    font-weight: 700;
    font-size: var(--fz-25);
    margin-bottom: 0.875rem;
}
.eventImage{
    width: 103%;
    border-radius: 10px;
    /*object-fit: cover;*/
    max-height: 190px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
h3{
    font-size: 20px;
    padding-top: 0.875rem;
}

@media (max-width: 768px) {
    .eventImage{
        width: 100%;
        border-radius: 10px;
    }
}
@media (max-width: 1024px) {
    .eventImage{
        max-height: 120px;
    }
}