.container {
    position: relative;
}
.title_container{
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 9;
    width: 100%;
    position: inherit;
    position: absolute;
    display: flex;
    align-items: center;
    
}
.title {
    font-size: 2.25rem;
    font-weight: 800;
    /*padding-left: 2.5rem;*/
    padding-left: 1rem;
    padding-top: 23px;
    padding-bottom: 23px;
   

}
.goback {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    margin-left: .5rem;
}