.container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: auto;
  padding: 0 5rem;
  border-bottom: .5px solid #c7c7c7;
}

.container:hover{
  background-color: var(--gray);
  width: 100%;
}

.time {
  font-size: 12px;
}

.tabContainer {
  justify-content: space-evenly;
  font-size: var(--fz-17);
}

.messagesContainer {
  margin-top: 20px;
}

/* Estilos para los mensajes individuales
.message {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
} */

.forum, .message{
  border-bottom: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem 5rem;
}


/* Estilos para el mensaje cuando no hay foros disponibles */
.forum-empty {
  color: #999;
  font-style: italic;
}
.search_bar {
  display: flex;
  justify-content: center;
  margin: 1.5rem auto;
  padding: 0 5rem;
}
.alert_message{
  padding: 0 5rem;
}
.forum img, .message img{
  border-radius: 50%;
}
.forum_user_info{
  display: flex;
  gap: 1rem;
}
.forum_text{
  margin-left: 4.3rem;
}

.post_date{
  font-size: var(--fz-12);
  opacity: 60%;
  margin-top: .5rem;
}