.container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: auto;
  width: 85%;
  margin: auto;
}
.container_wrapper{
  border-bottom: 0.5px solid #c7c7c7;
}
.container_wrapper:hover {
  background-color: var(--gray);
  width: 100%;
  margin: auto;
}

.time {
  font-size: 12px;
}

.tabContainer {
  justify-content: space-evenly;
  font-size: var(--fz-17);
}

/* Estilos para los mensajes individuales
.message {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
} */
.forum_wrapper, .message_wrapper{
  border-bottom: 1px solid #ddd;
}
.forum,
.message {
  padding: 1rem 0;
  width: 85%;
  margin: auto;
}

/* Estilos para el mensaje cuando no hay foros disponibles */
.forum-empty {
  color: #999;
  font-style: italic;
}
.search_bar {
  display: flex;
  justify-content: center;
  margin: 1.5rem auto;
  width: 85%;
}
.alert_message {
  padding: 0 5rem;
}
.forum img,
.message img {
  border-radius: 50%;
}
.forum_user_info {
  display: flex;
  gap: 1rem;
}
.forum_text {
  margin-left: 4.3rem;
}

.post_date {
  font-size: var(--fz-12);
  opacity: 60%;
  margin-top: 0.5rem;
}

@media only screen and (max-width: 1025px) {
  .container,
  .search_bar {
    width: 87%;
  }
 
  .forum_user_info {
    padding: 0;
  }
}
