.container {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid #c7c7c7;
}

.time {
    font-size: 12px;
}

.tabContainer {
  justify-content: space-evenly;
  font-size: var(--fz-17);
margin: 1rem;
}

.messagesContainer {
    margin-top: 20px;
  }
  
  /* Estilos para los mensajes individuales */
  .message {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .forum {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  /* Estilos para el título del foro */
  .forum h3 {
    margin-bottom: 5px;
  }
  
  /* Estilos para el mensaje cuando no hay foros disponibles */
  .forum-empty {
    color: #999;
    font-style: italic;
  }