.productContainer{
    max-width: 244px;
    max-height: 338px;
    height: 338px;
    border: 1px solid;
    border-radius: 10px;
    margin-top: 1rem;
}
.image{
    max-width: 240px;
    max-height: 238px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}
.title{
    font-size: 21px;
    margin-top: 1rem;
    margin-left: 1rem;
}