.icon{
    font-size: 1.43rem;
    color: #231F20;
}
.search__container{
    background-color: var(--gray);
    border-radius: 30px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    width: 100%;
}
.input{
    width: 100%;
    font-size: 15px;
    border: none;
    background-color: var(--gray);
}
.input:focus{
    outline: none;
}

.button{
    border: none;
    background-color: var(--gray);
}


