.modal{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.modal__content{
    background-color: #fff;
    width: min(100% - 1rem, 720px);
    margin-inline: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.modal__button{
    border: none;
    background-color: #fff;
}
.modal__button:is(:active, :focus){
    outline: none;
}
.modal__body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal__title{

    font-weight: 800;
    font-size: clamp(2rem, 10vw, 2.625rem);
    margin-top: 2rem;
    margin-bottom: 2.23rem;
}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1024px) {}