.perfil_banner {
  width: 100%;
  cursor: pointer;
}
.user_info {
  display: flex;
  gap: 10px;
  margin-top: 90px;
  align-items: center;
}
.forum_content {
  margin: 2rem 3rem;
}

.name {
  font-weight: 800;
}

.profile_picture {
  width: 60px;
  height: 60px;
  margin-left: 3%;
  /*border: 8px solid white;*/
  border-radius: 100px;
  cursor: pointer;
}

.button__container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  border: 1px solid #dedfe6;
  border-radius: 15px;
  padding-inline: 5px;
}

.custom__button {
  border: none;
  border-radius: 20px;
  background-color: green;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  margin: 10px;
}

.profile_info_container {
  border-radius: 8px;
  padding: 20px;
}
.message {
  display: flex;
  gap: 1rem;
 
}
.message_img_container{
  background-color: red;
  display: flex;
  gap: 3px;
  height: 100%;
  width: 100%;
}
.message_img{
  border-radius: 10px;
    width: 50%; 
    height: auto; 
    max-width: 100%;

}
.comment_action {
  display: flex;
  gap: 1rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  position: relative;
  padding-top: 1rem;
}

.text_area {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin-bottom: 10px;
  resize: none;
  height: 5rem;
}

.send_button, .send_button:hover {
  border: none;
  border-radius: 20px;
  background-color: var(--primary-dark);
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
 /* position: absolute;*/
  right: 0;
  /*transform: translate(-50%, 0%);*/
}

.attach_img_btn, .attach_img_btn:hover {
  color: var(--primary-dark);
  background-color: transparent !important;
  border: none;
}
.attach_img_btn > svg{
  width: 30px;
  height: 30px;
}

.attach_img{
  width: 100%;
  height: 100%;
  border-radius: 10px;

}


.remove_img_btn{
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: rgba(15, 20, 25, 0.75);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
 
}

.comment_buttons{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.forum_title {
  font-size: var(--fz-17);
  margin-bottom: 10px;

}

.forum_description {
  font-size: 16px;
  margin-bottom: 10px;
}

.forum_event {
  font-size: 16px;
  margin-bottom: 10px;
}
.forum_tags {
  display: flex;
  gap: 10px;
  font-size: var(--fz-14);
}
.forum_tags > li{
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 0 10px ;
}

.forum_message {
  font-size: 14px;
  margin-bottom: 5px;
}

.forum_message_item {
  border-top: 1px solid #ccc;
  padding: 1rem 0;
  background-color: pink;
  padding-right: 2rem;
}
.forum_message_item > div > div{
  background-color: yellow;
  width: 100%;
}

.forum_username,
.forum_date {
  font-size: 12px;
  margin-bottom: 5px;
}

.forum_images {
  display: flex;
  flex-wrap: wrap;
}

.forum_image {
  max-width: 100px;
  max-height: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.modal_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.forum_container,
.forum_description_container {
  position: relative;
  margin-bottom: 20px;
  margin-top: 90px;
}

.edit_post_button {
  position: absolute;
  right: 10px;
}

/* Estilos adicionales según sea necesario */
.edit_button_container button {
  margin-left: 10px; /* Espaciado entre botones */
}

.heart-icon path {
  fill: gray; /* Color del corazón sin hover */
  transition: fill 0.3s; /* Transición suave para el cambio de color */
  cursor: pointer; /* Cambia el cursor al hacer hover */
}

/* Estilo para el corazón al hacer hover */
.heart_icon:hover path {
  fill: red; /* Color del corazón al hacer hover */
}

.heart_icon {
  cursor: pointer; /* Cambia el cursor a un puntero */
  position: relative;
}

.heart-icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: transparent; /* Relleno transparente */
}

.heart-icon:hover::before {
  cursor: pointer;
  fill: red; /* Color de relleno rojo al hacer hover */
}

.post__actions {
  display: flex;
  gap: 1.43rem;
  margin-top: 1.85rem;
}
.actions__content {
  display: flex;
  gap: var(--fz-11);
}

.post__actions {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .profile_picture {
    width: 85px;
    height: 85px;
    border: 5px solid white;
  }
}
