.perfil_banner {
  width: 100%;
  cursor: pointer;
}
.user_info {
  display: flex;
  gap: 10px;
  margin-top: 90px;
  align-items: center;
}
.forum_content {
  margin: 1rem 3rem 2rem;
}

.name {
  font-weight: 800;
}
.message .name {
  margin-top: 0.5rem;
}

.profile_picture {
  width: 60px;
  height: 60px;
  margin-left: 3%;
  /*border: 8px solid white;*/
  border-radius: 100px;
  cursor: pointer;
}

.button__container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  border: 1px solid #dedfe6;
  border-radius: 15px;
  padding-inline: 5px;
}

.custom__button {
  border: none;
  border-radius: 20px;
  background-color: green;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  margin: 10px;
}

.profile_info_container {
  border-radius: 8px;
  padding: 20px;
}

.message {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

.message_img_container {
  display: flex;
  margin: 0.5rem 0 0.7rem;
  gap: 5px;
}

.message_img, .attach_img, .edit_img{
  border-radius: 10px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
}

.comment_action {
  display: flex;
  gap: 1rem;
  border-top: 1px solid #ccc;
  /*border-bottom: 1px solid #ccc;*/
  position: relative;
  padding-top: 1rem;
}

.text_area {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  resize: none;
  height: 3rem;
}

.send_button,
.send_button:hover {
  border: none;
  border-radius: 30px;
  background-color: var(--primary-dark);
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  /* position: absolute;*/
  right: 0;
  /*transform: translate(-50%, 0%);*/
}

.attach_img_btn,
.attach_img_btn:hover, .attach_img_btn:active {
  color: var(--primary-dark) !important;
  background-color: transparent !important;
  border: none;
}
.attach_img_btn > svg {
  width: 30px;
  height: 30px;
}


.remove_img_btn, .remove_img_btn:active{
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: rgba(15, 20, 25, 0.75) !important;
  border: none !important;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.remove_img_btn:hover{
  background-color: rgba(15, 20, 25, 0.5) !important;
} 

.comment_buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
.forum_title {
  font-size: var(--fz-17);
  margin-bottom: 10px;
}

.forum_description {
  font-size: 16px;
  margin-bottom: 10px;
}

.forum_event {
  font-size: 16px;
  margin-bottom: 10px;
}
.forum_tags {
  display: flex;
  gap: 10px;
  font-size: var(--fz-14);
  flex-wrap: wrap;
}
.forum_tags > li {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 0 10px;
}

.forum_message {
  font-size: 14px;
  margin-bottom: 5px;
}

.forum_message_item {
  border-top: 1px solid #ccc;
  padding: 1rem 0;
  /* background-color: pink;*/
  padding-right: 2rem;
  position: relative;
}
.forum_username,
.forum_date {
  font-size: 12px;
  margin-bottom: 5px;
}
.forum_date {
  opacity: 60%;
}


.modal_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.forum_container,
.forum_description_container {
  position: relative;
  margin-bottom: 20px;
  margin-top: 90px;
}

.edit_post_button {
  position: absolute;
  right: 2rem;
  top: 0;
  cursor: pointer;
}

.edit_post_button svg,
.edit_message_button {
  fill: rgb(83, 100, 113);
}
.edit_message_button {
  position: absolute;
  right: 2rem;
  top: 1.5rem;
  background-color: transparent;
  border: none;
}

/* Estilos adicionales según sea necesario */
.edit_button_container button {
  margin-left: 10px; /* Espaciado entre botones */
}

.heart-icon path {
  fill: gray; /* Color del corazón sin hover */
  transition: fill 0.3s; /* Transición suave para el cambio de color */
  cursor: pointer; /* Cambia el cursor al hacer hover */
}

/* Estilo para el corazón al hacer hover */
.heart_icon:hover path {
  fill: red !important; /* Color del corazón al hacer hover */
}

.heart_icon {
  cursor: pointer; /* Cambia el cursor a un puntero */
  position: relative;
}

.heart-icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: transparent; /* Relleno transparente */
}

.heart-icon:hover::before {
  cursor: pointer;
  fill: red !important; /* Color de relleno rojo al hacer hover */
}
.liked {
  color: red !important;
}

.post__actions {
  display: flex;
  gap: 1.43rem;
  margin-top: 1.85rem;
}
.actions__content {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.actions__content > div {
  display: flex;
  gap: 5px;
  align-items: center;
}
.actions__content svg {
  width: 16px;
  height: 16px;
}
.actions__content span {
  color: #536571;
}

.post__actions {
  display: flex;
  align-items: center;
}

.edit_message_options {
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 150px;
  position: absolute;
  right: 1.5rem;
 top: 3rem;
}
.edit_message_options > button {
  text-decoration: none;
  display: flex;
  gap: 1rem;
  color: #333333;
}
.delete_message_btn {
  color: red !important;
  border-radius: 0px !important;

  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.edit_message_options > button:hover {
  background-color: #eff1f1;
  color: #333333;
  border-radius: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.delete_message_btn,
.delete_message_btn:hover {
  color: red !important;
  border-radius: 0px !important;

  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}
.edit_message_options > button svg {
  height: 22px;
  width: 22px;
}
.edit_message_panel{

  margin-left: 5rem;
}
.edit_message_button_container{
  display: flex;
  gap: 1rem;
  align-items: center;
}
.edit_message_panel textarea{
 
  border: 1px solid var(--gray);
}
.attach_image_container, .edit_images_container{
  display: flex;
  gap: 5px;
}
.cancel_button{
  background-color: transparent !important;
  border: 1px solid gray;
  color: gray;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
}
.cancel_button:hover{
  border: 1px solid red;
  color: red;
}
.image_preview{
  position: relative;
}

@media only screen and (max-width: 768px) {
  .profile_picture {
    width: 85px;
    height: 85px;
    border: 5px solid white;
  }
}

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal_expand_img {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
}

.close_button svg{
  cursor: pointer;
  fill: white;
  width: 25px;
  height: 25px;
}




