.singleColumn {
  display: flex;
  flex-direction: column;
}

.page_title{
  margin-bottom: 89.2px !important;
}

.eventImage {
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.row > div {
  width: 50%;
}

.row_logged_in > div {
  height: 300px;
}

.row_logged_out > div {
  height: 400px;
}

.event_info{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  
}
.event_info h3{
  text-transform: uppercase; 
  font-size: 40px;
  font-weight: 800;
}
.even_event_info {
  background-color: var(--primary-dark);
  color: #FFF6D7;
}

.odd_event_info {
  background-color: var(--primary-dark);
  color: #FFF6D7;
}

.even_event_info {
  color: var(--primary-dark);
  background-color:#FFF6D7;
}  