.perfil_banner {
  width: 100%;
  cursor: pointer;
  max-height: 250px;
  object-fit: cover; 
}

.profile_picture {
  width: 165px;
  height: 165px;
  margin-top: -8%;
  margin-left: 3%;
  border: 8px solid white;
  border-radius: 100px;
  background-color: green;
  margin-bottom: 12px;
  transform: translateX(-0%) translateY(-0%);
  cursor: pointer;
}
.name{
  font-weight: 800;
}

.button__container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  border: 1px solid #dedfe6;
  border-radius: 15px;
  padding-inline: 5px;
}

.custom__button, .edit__button {
  border: 1px solid var(--primary-dark);
  border-radius: 30px;
  background-color: white;
  color: var(--primary-dark) !important;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  margin: 10px;
  width: 150px;
}

.custom__button:hover{
  background-color: var(--primary-dark) !important;
  color: white !important;
  border: 1px solid var(--primary-dark);
}
.edit__button{
  width: auto;
  background-color: transparent;
  border: 1px solid var(--primary-dark);
  color: var(--primary-dark);
}
.edit__button:hover, .following{
  background-color: var(--primary-dark);
  border: 1px solid var(--primary-dark);
  color: white !important;
}
.followingHovered:hover{
  border: 1px solid #FF000050 !important;
  color: red !important;
  background-color: #FF000030 !important;
}


.profile_info_container {
  margin-left: 3%;
  }


@media only screen and (max-width: 768px) {
  .profile_picture {
    width: 85px;
    height: 85px;
    border: 5px solid white;
  }
}

/* MODAL STYLES */
.modal_body{
  margin-top: .5rem;
}
.modal_edit_profile {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}
.modal_edit_profile input{
  height: 48px;
  border: 0.4px solid #000;
}
.modal_edit_profile input:focus{
  outline: none !important;
  border-color: inherit !important;
  box-shadow: 0 !important;
}
.modal_footer{
  margin-top: 1.5rem;
}


