.perfil_banner {
  width: 100%;
  cursor: pointer;
}

.profile_picture {
  width: 165px;
  height: 165px;
  margin-top: -8%;
  margin-left: 3%;
  border: 8px solid white;
  border-radius: 100px;
  background-color: green;
  margin-bottom: 12px;
  transform: translateX(-0%) translateY(-0%);
  cursor: pointer;
}
.name{
  font-weight: 800;
}

.button__container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  border: 1px solid #dedfe6;
  border-radius: 15px;
  padding-inline: 5px;
}

.custom__button, .edit__button {
  border: none;
  border-radius: 30px;
  background-color: var(--primary-dark);
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  margin: 10px;
  width: 150px;
}

.custom__button:hover{
  background-color: #FF000030;
  color: red;
  border: 1px solid #FF000050;
}
.edit__button{
  width: auto;
  background-color: transparent;
  border: 1px solid var(--primary-dark);
  color: var(--primary-dark);
}
.edit__button:hover{
  background-color: var(--primary-dark);
  border: 1px solid var(--primary-dark);
  color: white;
}

.profile_info_container {
  border-radius: 8px;
  padding: 20px;
  }


@media only screen and (max-width: 768px) {
  .profile_picture {
    width: 85px;
    height: 85px;
    border: 5px solid white;
  }
}

/* MODAL STYLES */
.account_modal{
  padding: 2rem;
  position: relative;
}
.modal_header{
text-align: center;
}
.account_modal h4{
  font-weight: 800;
}
.modal_close, .modal_close:hover{
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  background-color: #fff;
  padding-top: .5rem;
  padding-left: 1rem;
  padding-right: 0px;
  border-radius: 15px;
}
.account_modal label{
  margin-top: 1rem;
}
.edit_profile input{
  height: 48px;
}
.modal_footer{
  margin-top: 1.5rem;
}


