.google__button{
    border: 1px solid #525558;
    border-radius: 30px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--fz-9);
    padding-top: var(--fz-12);
    padding-bottom: var(--fz-12);
    width: 100%;
}
.google__logo{
    width: 24px;
    height: 24px;
}
.google__text{
    font-weight: 700;
    font-size: var(--fz-19);
}

@media only screen and (min-width: 1024px) {
    .google__button{
        padding: var(--fz-12) var(--fz-66);
        }
}