.list__container {
  padding-top: var(--fz-30);
  padding-bottom: var(--fz-25);
  display: flex;
  border-radius: 15px;
}

.container__image img {
  border-radius: 50%;
}
.list__content {
  width: 100%;
  max-width: 70%;
  margin: 1rem auto;
  margin-top: 0;
}

.list_name {
  font-size: var(--fz-20);
  font-weight: 600;
  position: absolute;
  left: 10%;
  bottom: 5%;
  color: white;
}

.list_name_more {
  font-size: var(--fz-20);
  font-weight: 600;
  color: black;
}



.action_buttons {
  button:hover {
    background-color: green;
  }
  background-color: white;
  width: auto;
  display: inline-block;
}
.action_buttons {
  border: 0.3px solid grey;
  width: 40px;
  height: 40px;
  padding: 10px;
}
.action_buttons:hover {
  background-color: var(--gray);
  border: 0.3px solid grey;
}
.action_buttons_container {
  display: flex;
  justify-content: center;
}

.action_buttons_td {
  justify-content: center;
  align-items: center;
}

.more__actions {
  font-weight: 800;
  font-size: var(--fz-20);
  position: absolute;
  right: 3%;
  top: 3%;
  display: flex;
  gap: 5px;
}
.list__title {
  font-size: var(--fz-17);
}
.content__tags {
  display: flex;
  flex-direction: row;
  gap: var(--fz-11);
  padding-top: 0.5rem;
}
.list_tags {
  font-size: var(--fz-11);
  font-weight: 600;
}
.list__text {
  margin-top: var(--fz-15);
  font-size: var(--fz-17);
}
.list__actions {
  display: flex;
  gap: 1.43rem;
  margin-top: 1.85rem;
}
.actions__content {
  display: flex;
  gap: var(--fz-11);
}

.product_container {
  display: flex;
  flex-wrap: wrap; /* Permite que las tarjetas se envuelvan cuando no haya suficiente espacio */
  /*justify-content: space-between; */ /* Distribuye las tarjetas horizontalmente con espacio entre ellas */
  max-width: 100%; /* Establece el ancho máximo del contenedor al 100% del espacio disponible */
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.product_card {
  width: calc(
    25% - 10px
  ); /* Ajusta el ancho de cada tarjeta al 25% del contenedor con un margen derecho */
  display: inline-block;
  flex-direction: column; /* Establecer la dirección de los elementos como vertical */
  width: 200px; /* Establecer el ancho deseado para la tarjeta */
  padding: 0; /* Eliminar el relleno de la tarjeta */
  border: 1px solid #ccc; /* Añadir un borde a la tarjeta */
  border-radius: 8px; /* Redondear las esquinas de la tarjeta */
}

.product_image {
  width: 100%; /* La imagen ocupa todo el ancho disponible */
  height: 75%; /* La imagen ocupa el 75% de la altura de la tarjeta */
  object-fit: cover; /* Ajustar la imagen para que cubra todo el espacio disponible */
  border-top-left-radius: 8px; /* Redondear la esquina superior izquierda de la imagen */
  border-top-right-radius: 8px; /* Redondear la esquina superior derecha de la imagen */
  border-bottom: 1px solid #ccc;
}
.product_image:hover {
  border-bottom: 1px solid red;
}

.product_name {
  text-align: center; /* Centra el texto dentro de la tarjeta */
  margin-top: 10px;
}

.product_item {
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  margin: 10px; /* Ajusta la separación horizontal entre las tarjetas */
}

.product_card:hover {
  background-color: #ff000030;
  color: red;
  border: 1px solid red;
}

.product_content {
  display: flex;
  align-items: center;
  width: 100%;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.modal__title {
  margin-bottom: 2rem;
}

.modal__content {
  background-color: #fff;
  width: min(90%, 500px);
  height: auto;
  margin-inline: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius: 1rem;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__button {
  border: none;
  background-color: #fff;
  padding-top: 1.18rem;
  padding-left: 1.18rem;
  padding-right: 0px;
  border-radius: 15px;
}

.buttons__container {
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  gap: 25px;
  padding-bottom: 2.15rem;
  width: 100%; /* Asegura que el contenedor de botones ocupe todo el ancho disponible */
}

.buttons__container button {
  padding: 10px 24px; /* Ajusta el relleno del botón según sea necesario */
  width: fit-content; /* Ajusta el ancho del botón al contenido */
}

.modal__button:is(:active, :focus) {
  outline: none;
}
.create_new_container,
.edit_buttons {
  display: flex;
  justify-content: space-between;
  max-width: 70%;
  margin: 0 auto;
  width: 100%;
  padding: 25px 0px;
}

.back_button {
  display: flex;
  max-width: 70%;
  margin: 0 auto;
  width: 100%;
  padding: 25px 0px;
}
.search_bar {
  position: relative;
  width: 100%;
  max-width: 300px;
}

.search_bar input {
  width: calc(100% - 30px);
  height: 36px;
  padding-left: 30px;
  border-radius: 10px;
  border: 0.5px solid;
}

.search_bar svg {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.cancel_edit_button, .cancel_edit_button:active {
  margin-right: 10px;
  background-color: transparent !important;
  border-color: var(--primary-dark) !important;
  color: var(--primary-dark)!important;
}
.create_new_button,
.create_new_button:hover, .create_new_button:active,  .save_edit_button{
  background-color: var(--primary-dark) !important;
  border: none;
  color: white !important;
}
.create_new_button svg {
  fill: white;
  margin-right: 5px;
  width: 22px;
  height: 22px;
  position: relative !important;
}
.whole_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 100%;
  max-width: 70%;
  margin: 0 auto;
}
.list__container {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 0;
  padding-top: 85%;
}

.modal__header {
  border: none !important;
  text-align: center;
  display: flex !important;
  justify-content: center !important;
  text-align: center;
  font-weight: bolder;
}
.custom_close_button {
  font-size: 20px;
  position: absolute;
  left: 3%;
  top: 5%;
  cursor: pointer;
}
.modal__title {
  font-weight: 600;
  text-align: center;
}
.modal__body {
  font-size: 20px;
  text-align: center;
  padding: 30px;
}
.modal__footer {
  justify-content: center !important;
  padding: 0 !important;
}
.modal__confirm,
.modal__cancel,
.modal__confirm:hover,
.modal__cancel:hover,
.modal__confirm:active,
.modal__cancel:active {
  background-color: transparent !important;
  border: none;
  font-size: 20px;
  padding: 15px 50px;
}
.modal__cancel,
.modal__cancel:hover {
  color: red !important;
  border-right: 0.5px solid lightgray;
  border-radius: 0;
  height: 100%;
}

.go_back_button {
  background-image: url(/src/assets/go-back-icon.svg);
  background-color: transparent !important;
  border: none !important;
  width: 40px; /* Ajusta el ancho del botón según sea necesario */
  height: 40px; /* Ajusta la altura del botón según sea necesario */
  background-size: cover; /* Ajusta el tamaño de la imagen de fondo */
}

.modal__confirm,
.modal__confirm:hover {
  color: green !important;
}
.go_back_button,
.go_back_button:hover {
  background-image: url(/src/assets/go-back-icon.svg);
  background-color: transparent !important;
  border: none !important;
}
.edit_list_name_button {
  fill: white;
  position: absolute;
  right: 0;
}
.test {
  background-color: red;
}

.list_edit_icon,
.list_delete_icon {
  width: 20px;
  height: 22px;
  background-repeat: no-repeat;
}

.list_edit_icon {
  background-image: url("/src/assets/buttons/edit-icon.svg");
}
.list_edit_icon:hover {
  background-image: url("/src/assets/buttons/edit-icon-hover.svg");
}
.list_delete_icon {
  background-image: url("/src/assets/buttons/delete-icon.svg");
}
.list_delete_icon:hover {
  background-image: url("/src/assets/buttons/delete-icon-hover.svg");
}

.meli_card {
  width: 200px; /* Establece un ancho fijo para cada tarjeta */
  height: 300px; /* Establece una altura fija para cada tarjeta */
  display: flex; /* Utiliza flexbox para distribuir las tarjetas */
  flex-direction: column; /* Coloca los elementos de manera vertical */
  justify-content: space-between; /* Distribuye los elementos verticalmente */
  border: 1px solid #ccc; /* Agrega un borde a cada tarjeta */
  border-radius: 8px; /* Redondea las esquinas de cada tarjeta */
  overflow: hidden; /* Oculta cualquier contenido que se desborde de la tarjeta */
}

.meli_cards_container {
  display: flex; /* Utiliza flexbox para colocar las tarjetas en una fila */
  flex-wrap: wrap; /* Permite que las tarjetas se envuelvan cuando no haya suficiente espacio */
  gap: 20px; /* Agrega espacio entre las tarjetas */
}

.product_name {
  text-align: center; /* Centra el texto dentro de la tarjeta */
  margin: 10px 0; /* Añade un margen alrededor del texto */
}

@media only screen and (min-width: 768px) {
  .list__images {
    width: 200px;
    flex-direction: row;
  }
  .list__images img {
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  .list__images {
    width: 250px;
  }
  .list__images img {
    width: 100%;
  }
}
@media only screen and (min-width: 1512px) {
  .list__images {
    width: 300px;
  }
  .list__images img {
    width: 100%;
  }
}

.list_edit_buttons{
  display: flex;
  justify-content: space-between;
}