.content {
  /*margin-top: 60px;*/
  padding: 40px;
  display: flex;
  gap: 2rem;
  padding-bottom: 0 !important;

}

.select_user_container {
  width: 100%;
}
.select_user_container p {
  margin-bottom: 0.5rem;
}

.avatarContainer {
  border-radius: 50%;
}
.NuevoRegaloForm{
 display: flex;
 padding: 0 40px;
 gap: 2rem;
}
.faux_space{
  width: 54px;
}
@media only screen and (max-width: 1024px) {
 
  .faux_space{
   display: none;
  }
}
