.link{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem;
}
.link:hover{
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}
.link .title:hover{
    color: var(--primary-dark-over);
}
.title{
    font-size: var(--fz-15);
    font-weight: 700;
    display: none;
}
@media only screen and (min-width: 768px) {
    .link{
        padding: 0.35rem;
    }
    .title{
        display: block;
    }
}