.link {
  font-size: 12px !important;
  opacity: 60%;
  text-align: center;
}
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  margin: 0.5rem auto;
 /* position: fixed;*/
  bottom: 0;
  align-items: center;
  margin-left: 1rem;
  white-space: nowrap;
}

.break {
  display: block;
}

@media only screen and (max-width: 1024px) {
  .content {
    flex-direction: column;
    gap: 0.5rem;
  }
  .break {
    display: inline;
  }
}
