.modal__header {
  border: none;
  text-align: center;
  display: flex !important;
  justify-content: center !important;
  text-align: center;
  font-weight: bolder;
}

.custom_close_button {
  font-size: 20px;
  position: absolute;
  left: 3%;
  top: 5%;

}
.modal__title {
  font-weight: 600;
  text-align: center;
  margin-top: 30px;
}
.modal__body {
  font-size: 20px;
  text-align: center;
  padding: 30px;
}
.modal__footer {
  justify-content: center !important;
  padding: 0 !important;
}
.modal__confirm,
.modal__cancel,
.modal__confirm:hover,
.modal__cancel:hover {
  background-color: transparent;
  border: none;
  font-size: 20px;
  padding: 15px 50px;
}
.modal__cancel,
.modal__cancel:hover {
  color: red;
  border-right: 0.5px solid lightgray;
  border-radius: 0;
  height: 100%;
}
.modal__confirm,
.modal__confirm:hover {
  color: green;
}
.create_new_container{
  border-bottom: 0.5px solid;
}
.create_new_container,
.edit_buttons {
  display: flex;
  justify-content: space-between;
  max-width: 70%;
  margin: 0 auto;
  width: 100%;
  padding: 25px 0px;
}
.edit_buttons button, .edit_buttons button:hover{
  background-color: var(--primary-dark);
  border: none;
}
.search_bar{
  position: relative;
  width: 100%;
  max-width: 300px;
}
.search_bar input{
  width: calc(100% - 30px);
  height: 36px;
  padding-left: 30px;
  border-radius: 10px;
  border: 0.5px solid;
}
 
.search_bar svg{
  width: 24px;
  height: 24px;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  fill: black;
}

.create_new_button {
  margin-right: 10px;
}
.create_new_button,
.create_new_button:hover {
  background-color: var(--primary-dark);
  border: none;
}
.create_new_button svg {
  fill: white;
  margin-right: 5px;
  width: 22px;
  height: 22px;
  position: relative !important;
}

.profiles__table {
  width: 100%;
  max-width: 70%;
  margin: 0 auto;
  border-collapse: collapse;
}
.profiles__table__info {
  display: flex;
  border: 0.5px solid;
  border-radius: 30px !important;
  margin-bottom: 2rem;
}
.profiles__table__info td {
  width: 100vw !important;
}
.profiles__table__info th,
.profiles__table__info td {
  padding: 20px 25px 10px;
}
.profiles__table__info .profile_interest_container {
  display: flex;
  align-items: center;
}
.profiles__table__container {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid;
  padding: 30px;
}

.profiles_iconWrapper {
  margin-right: 10px;
}

.profile_interest_buttons {
  display: flex;
  gap: 6px;
}

.profile_interest_container {
  margin-bottom: 12px; /* Espacio entre grupos de botones */
}

.profile_all_interests{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 3px;
}

.profile_interest_button {
  background-color: transparent;
  color: var(--black);
  border: 1px solid;
  border-radius: 30px;
  margin-top: 2px;
  padding: 8px 16px; /* Ajusta el espacio interno de los botones */
  margin-right: 10px; /* Espacio entre botones dentro del mismo grupo */
  transition: background-color 0.3s;
}

.profile_interest_button:hover, .profile_interest_button:active, .profile_interest_button:focus {
  border-color: red !important;
  background-color: transparent !important;
  color: red !important;
}

.profile_interest_remove_icon {
  margin-left: 7px;
  
}
.profile_gift_icon,
.profile_edit_icon,
.profile_delete_icon {
  width: 20px;
  height: 22px;
  background-repeat: no-repeat;
}
.profile_gift_icon {
  background-image: url("/src/assets/buttons/gift-icon.svg");
}
.profile_gift_icon:hover {
  background-image: url("/src/assets/buttons/gift-icon-hover.svg");
}
.profile_edit_icon {
  background-image: url("/src/assets/buttons/edit-icon.svg");
}
.profile_edit_icon:hover {
  background-image: url("/src/assets/buttons/edit-icon-hover.svg");
}
.profile_delete_icon {
  background-image: url("/src/assets/buttons/delete-icon.svg");
}
.profile_delete_icon:hover {
  background-image: url("/src/assets/buttons/delete-icon-hover.svg");
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
}



.modal h2 {
  margin-top: 0;
}

.modal input[type="text"],
.modal select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.modal button {
  padding: 8px 16px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal button:hover {
  background-color: #ddd; /* Cambia el color de fondo al pasar el ratón */
}

.modal button svg {
  margin-right: 5px;
}

.custom-modal-footer {
  display: flex;
  justify-content: space-between;
}

.custom-modal-footer button {
  color: white;
  background-color: #007bff;
  border-color: #007bff;
}

.custom-modal-footer button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.action_buttons {
  button:hover {
    background-color: green;
  }
  background-color: white;
  width: 100%;
  display: flex;
  margin: 0 10px;
}
.action_buttons {
  border: 0.3px solid grey;
  width: 40px;
  height: 40px;
  padding: 10px;
}
.action_buttons:hover {
  background-color: transparent;
  border: 0.3px solid grey;
}
.action_buttons_container {
  display: flex;
  justify-content: center;
}

.action_buttons_td {
  justify-content: center;
  align-items: center;
}

.interest_add_button, .interest_add_button:hover{
  background-color: var(--primary-dark);
  background-image: url(/src/assets/crear__post__nav.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  height: 35px;
  width: 35px;
  padding: 10px;
  border-radius: 30px;
 /* margin-left: 40px;*/
}
.go_back_button,
.go_back_button:hover {
  background-image: url(/src/assets/go-back-icon.svg);
  background-color: transparent !important;
  border: none !important;
}

.form__control {
  border: 1px solid #333;
  border-radius: 3px;
}

.form__control:focus {
  border: 1px solid #333;
  box-shadow: none;
}

.form__floating {
  font-size: var(--fz-14);
  margin-bottom: 30px;
}

.form__floating input {
  font-size: 17px;
    color: #525558;
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px;
    border-radius: 5px;
    border: 0.4px solid #000;
    background: var(--white);
}


.icon_style {
  cursor: pointer;
  color: white;
  padding: 5px;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_content {
  background-color: #fff;
  width: min(100%, 600px);
  height: min(90%, 600px);
  margin-inline: auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
  border-radius: 1rem;
}

.interest_description {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}

.scrollable_div {
  max-height: 300px;
  overflow-y: auto;
}

.interestButton {
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  background-color: white;
  color: #007bff;
  border: 1px solid #007bff;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.selectedInterest {
  background-color: #007bff;
  color: white;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 3rem;
  padding-bottom: 2.125rem;
}

.actions-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.registro-container {
  display: flex;
  align-items: center;
  gap: 9px;
  margin-top: 1rem;
}

.buttons__container {
    display: flex;
    flex-direction: column;
    padding-bottom: 2.125rem;
}

.hr_container p {
    font-size: var(--fz-14);
    font-weight: 600px;

}

.form__floating label {
  margin-bottom: -20px; /* Reducir el espacio entre el título y el primer input */
}

.actions__container {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.registro__container {
    display: flex;
    align-items: center;
    gap: 9px;
    margin-top: 1rem;
}
.interest_description{
    font-size: 18px;
    text-align: center;
}
.options_container{
    display: block;
    gap: 20px;
}
.option_box{
border: 0.5px solid var(--Neutral-0, #525558);
    height: 39px;
    border-radius: 30px;
    padding: 7px 20px 0 20px;
    cursor: pointer; 
    margin: 5px;
    
}
.selected {
    color: var(--primary-dark);
  }

  .scrollable_div {
    max-height: 300px; /* Establece la altura máxima que deseas para el div */
    overflow-y: auto; /* Habilita el desplazamiento vertical si el contenido excede la altura máxima */
  }

@media only screen and (min-width: 768px) {
  

    .hr_container {
        padding-top: 1.81rem;
    }

    .registro__container {
        margin-top: 1.25rem;
    }
}

@media only screen and (min-width: 768px) {
  .profiles__images {
    width: 200px;
    flex-direction: row;
  }
  .profiles__images img {
    width: 100%;
  }

.registro-container {
    margin-top: 1.25rem;
}
}
@media only screen and (min-width: 1024px) {
  .profiles__images {
    width: 250px;
  }
  .profiles__images img {
    width: 100%;
  }
}
@media only screen and (min-width: 1512px) {
  .profiles__images {
    width: 300px;
  }
  .profiles__images img {
    width: 100%;
  }
}



.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
}


.modal h2 {
  margin-top: 0;
}
.modal input[type="text"],
.modal select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}
.modal button {
  padding: 8px 16px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.modal button:hover {
  background-color: #ddd;
}
.modal button svg {
  margin-right: 5px;
}

.interest_modal{
  text-align: center;
}
.modal_content{
  max-height: 300px;
  overflow-y: auto;
}
.interestButton{
  margin-bottom: 10px;
    background-color: white;
    color: #000;
    border: 1px solid #525558;
    border-radius: 20px;
    padding: 5px 15px;
    cursor: pointer;
}
.selectedInterest {
  background-color: white;
  color: var(--primary-dark);
  border-color: var(--primary-dark);
}


.form__control{
  position: relative;
}
.form__control .expandIcon{
  background-color: pink;
  position: absolute;
  right: 0
}

