.buttons__container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 1rem;
}

.hr_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.hr_container hr {
    width: 40%;
}

.hr_container p {
    font-size: var(--fz-14);
    font-weight: 600px;

}

.actions__container {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.registro__container {
    display: flex;
    align-items: center;
    gap: 9px;
    margin-top: 1rem;
}

@media only screen and (min-width: 768px) {
    .buttons__container {
        padding-top: 1.31rem;
    }

    .hr_container {
        padding-top: 1.81rem;
    }

    .registro__container {
        margin-top: 1.25rem;
    }
}
