:root {
  --white: #fff;
  --primary-dark: #f06880;
  --primary-dark-over: #ee5471;
  --gray: #f2f4f5;
  --shadow-color: #ee5470a1;

  --padding-12: 0.75rem;
  
  --fz-9: 0.5625rem;
  --fz-15: 0.9375rem;
  --fz-20: 1.25rem;

  --fw-700: 700;
}
.hover--primary-dark:hover{
  color: var(--primary-dark-over);
}
/* reset */
a {
  text-decoration: none;
  font-weight: 400;
  color: #333333;
}
h1,h2,h3,h4,h5,h6,p{
  margin-bottom: 0;
}
ul, ol{
  padding-left: 0;
  padding-bottom: 0;
}
ul li{
  list-style: none;
}

a:hover {
  color: var(--main-red);
}

a:focus {
  color: var(--main-red);
}
* {
  font-family: "Lato", sans-serif;
  color: #333333;
}
 
.fz-9{
  font-size: var(--fz-9);
}
.fz-15{
  font-size: var(--fz-15);
}
.fz-20{
  font-size: var(--fz-20);
}

.fw-600{
  font-weight: 600;

}
.fw-700{
  font-weight: 700;

}

.bordes-y{
 border-top: 1px solid rgba(0, 0, 0, 0.322);
 border-bottom: 1px solid rgba(0, 0, 0, 0.322);
}
/* BUTTONS */
.primary__button{
  background-color: var(--primary-dark);
  color: var(--white);
  padding: var(--padding-12) 0;
  font-size: var(--fz-15);
  font-weight: var(--fw-700);
  text-align: center;
  border-radius: 30px;
  width: 100%;
  max-width: 200px;
  max-height: 34px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}
.primary__button:hover{
  background-color: var(--primary-dark-over);
  color: var(--gray);
 
}
.primary__button:active{
  background-color: var(--primary-dark-over);
  color: var(--primary-dark-over  );

}
.primary__button:focus{
  outline: none;
  color: var(--primary-dark-over  );
}
.secondary__button{
  background-color: var(--gray);
  padding: var(--padding-12) 0;
  font-size: var(--fz-15);
  font-weight: var(--fw-700);
  color: var(--primary-dark);
  text-align: center;
  border-radius: 30px;
  width: 100%;
  max-width: 200px;
  max-height: 34px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  border: solid 1px var(--primary-dark);
}
.secondary__button:hover{
  color: var(--primary-dark);
  border: solid 1px var(--primary-dark);

}

.secondary__button:active{
  color: var(--primary-dark);
}
.secondary__button:focus{
  outline: none;
  color: var(--primary-dark);
}
/* END BUTTONS */

.contenedor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3rem;
  grid-template-areas:
    "content"
    "menu";

  gap: 10px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 0;
  
  
}

.left__aside {
  grid-area: menu;
}
.content {
  grid-area: content;
  padding: 0 0rem;
}
.right__aside {
  /* border-left: 1px solid rgba(0, 0, 0, 0.322); */
  grid-area: right__aside;
  display: none;
}

@media (min-width: 600px) {
  .contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3rem;
    grid-template-areas:
      "content"
      "menu";
  }
  .left__aside {
  }
}

@media only screen and (min-width: 768px) {
  .contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "menu content content content";
    max-width: 1168px;
    padding: 0 1rem;
    
  }
  .content{
    border-right: 1px solid rgba(0, 0, 0, 0.322);
  border-left: 1px solid rgba(0, 0, 0, 0.322);
  }
  .right__aside {
    display: none;
  }
}
@media only screen and (min-width: 1024px) {
  .contenedor {
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "menu content content content right__aside";
    max-width: 1512px;

  }
  .right__aside {
    display: block;
  }
}

