.messagesContainer {
  margin-top: 20px;
}

.forum,
.message {
  border-bottom: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem 5rem;
}

/* Estilos para el mensaje cuando no hay foros disponibles */
.forum-empty {
  color: #999;
  font-style: italic;
}

.tabContainer {
  justify-content: space-evenly;
  font-size: var(--fz-17);
}

.forum img,
.message img {
  border-radius: 50%;
}
.forum_user_info {
  display: flex;
  gap: 1rem;
}
.forum_text {
  margin-left: 4.3rem;
}
.post_date{
  font-size: var(--fz-12);
  opacity: 60%;
  margin-top: 1rem;
}

@media only screen and (max-width: 1024px) {
  .forum,
.message {
  padding: 1rem 2rem;
}
}