.nav__container{
    background-color: var(--primary-dark);
}
.nav__ul{
display: flex;
justify-content: space-between;
padding: var(--fz-20) 4.375rem;

}
.container__links{
display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-end;
gap: 57px;
color: var(--primary-dark-over);
}